@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    background-color: #1A1D20;
}

.extra{
    height: 100;
    background-color: var(--bs-dark);
}

.extra1{
    display: flex;

}
.spacer{
    margin-left: 80px;
}
div{
    display: inline-block;
}

.wrapper {
    align-items: flex-start;
    display: flex;
    width: 100%;    
}

#user{
    padding: 10px;
}

h4{
    color: #e2e2e2;
    font-weight: 700;

}

.col-md-3 {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--bs-dark);
    margin: 20px;
    width: 2000px;
    color:#3498db;
}

#sidebar {
    background: var(--bs-dark);
}

.sidebar-link,
.sidebar-header {
    color: #e9ecef;
}

.form-control {
    border-width: 0cap;
    border-radius: 0%; 
}
.row{
    color: rgb(126, 176, 250);
    width: 3000px;
    align-self: center;
}

.profile-button {
    color: #e9ecef;
    background-color: #3498db;
    color: #fff;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #e9ecef;
}